@inject IDummyDataService _dummyDataService

<hr />

<h3>New Page Form Component</h3>
<p>Component ID: @componentModel.Id</p>
<p>Component Value: @componentModel.Value</p>

<EditForm Model="@componentModel" OnValidSubmit="SetValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>ID:&nbsp;</label><InputNumber id="id" @bind-Value="componentModel.Id"></InputNumber><br />
    <label>Value:&nbsp;</label><InputText id="value" @bind-Value="componentModel.Value"></InputText><br />
    <button class="btn-primary" type="submit">Submit</button>
</EditForm>

<p>@response</p><br/>

<h3>Read people</h3>
<EditForm Model="@componentModel" OnValidSubmit="GetDummyData">
    <button class="btn-primary" type="submit">Submit</button>
</EditForm>

<br/>
<p>@dummyDataRecords</p><br/>

@code {
    private LearningBlazorServer.Models.NewPageComponentModel componentModel = new Models.NewPageComponentModel();
    private string dummyDataRecords, response = string.Empty;

    private void SetValidSubmit()
    {
        response = $"Item created: {componentModel.Id} : {componentModel.Value}";

        _dummyDataService.CreateRecord(componentModel);
    }

    private void GetDummyData()
    {
        var dummyDataItems = _dummyDataService.GetAll();

        foreach (var dummyItem in dummyDataItems)
        {
            dummyDataRecords += $"Dummy item: {dummyItem.Id} : {dummyItem.Value}, ";
        }
    }
}
